<div class="container">
    <div class="lo">
      Maa Computer Education
    </div>
    <div class="ro">
      <ion-icon name="call-outline"></ion-icon>
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
  </div>